.document_card{
    width: 99%;
}
.document_card div{
    border: 1px #dfdfdf solid;
    border-radius: 5px;
    background-color: #F9FDFF;
    padding: 20px;
}
.document_card h2{
    padding: 10px;
    border: 1px #dfdfdf solid;
    border-radius: 5px;
    background-color: #DEE8F0;
    margin-top:0;
}
.document_card input[type=text], textarea{
    width: 100%;
    padding: 6px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    min-width: 96%;!important
}