.left_menu{
    float: left;
    width:13%;
    border-right: 1px black solid;
    height: inherit;
}
.content{
    float:left;
    width:84%;
    margin: 1em;
    padding: 10px;
}

.custom_table{
    font-size: 20px;
    border-spacing: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width:100%;
}
.custom_table td{
    border: 1px #dfdfdf solid;
    cursor: context-menu;
    padding: 0.2em;
}

.custom_table tr:nth-child(even){
    background-color: #F9FDFF;
}

.custom_table tr:nth-child(n+2):hover{
    background-color: #d2f3f5;
}
.custom_table tr:nth-child(1){
    background-color: #DEE8F0;
    font-weight: bold;
}

.custom_table tr:nth-child(1) td:hover{
    background-color: #9DCFFF;
    border: 1px #000000 dashed;
}

.document_card{
    width: 99%;
}
.document_card div{
    border: 1px #dfdfdf solid;
    border-radius: 5px;
    background-color: #F9FDFF;
    padding: 20px;
}
.document_card h2{
    padding: 10px;
    border: 1px #dfdfdf solid;
    border-radius: 5px;
    background-color: #DEE8F0;
    margin-top:0;
}
.document_card input[type=text], textarea{
    width: 100%;
    padding: 6px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    min-width: 96%;
}